.NewCharacter {
    height: 100%;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 1.6fr;
    grid-template-rows: 1fr;
    background-color: rgb(69, 2, 2);
    border-radius: 2vmin;
  }
  
.NewCharacter aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
  }

section {
  background-color: silver;
    border: .1vmin solid rgb(69, 2, 2);
    border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 1vmin;
    color: rgb(69, 2, 2);
    list-style: none;
    font-size: 1.6vw;
    overflow-y: scroll;
}

