.ClassList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
    color: silver;
    list-style: none;
    padding: 0 0 0 0;
    font-size: 1.7vw;
  }
  
.ClassList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
.ClassList li:hover:not(.active) {
    cursor: pointer;
    background-color: green;
    color: black;
  }
  
.ClassList li.active {
    color: var(--text-dark);
    background-color: green;
    border: .1vmin solid green;
  }

  