.CharacterDescription {
    color: var(--text-light);
    list-style: none;
    padding: 0rem 0 0 0;
    font-size: 1vw;
  }
  
.CharacterDescription li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
.CharacterDescription li:hover:not(.active) {
    cursor: pointer;
    background-color: green;
    color: black;
  }
  
.AbilityScoreSection li.active {
    color: var(--text-dark);
    background-color: black;
    border: .1vmin solid black;
  }

#alignment {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
}

#language {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
}