.AbilityScoreSection {
    color: var(--text-light);
    list-style: none;
    padding: 0rem 0 0 0;
    position: absolute;
    left: 20rem;
    font-size: 1.7vw;
  }
  
.AbilityScoreSection li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
.AbilityScoreSection li:hover:not(.active) {
    cursor: pointer;
    background-color: green;
    color: black;
  }
  
.AbilityScoreSection li.active {
    color: var(--text-dark);
    background-color: black;
    border: .1vmin solid black;
  }