.RaceSection {
    color: silver;
    list-style: none;
    padding: 0 0 0 0;
    font-size: 1.7vw;
  }
  
.RaceSection li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
.RaceSection li:hover:not(.active) {
    cursor: pointer;
    background-color: green;
    color: black;
  }
  
.RaceSection li.active {
    color: var(--text-dark);
    background-color: black;
    border: .1vmin solid black;
  }

